@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-image: url(./assets/pubg-images/header.png);
  background-position: center;
  background-size: cover;
}

.main {
  background: radial-gradient( #ffD800, #FFF700);
}

.BGImage {
  /* background-image: url(./assets/pubg-images/point-card-bg.49d9002775af325b9035.png);
  background-size: cover;
  background-position: center; */
}

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.packages {
  display: flex;
  flex-wrap: wrap;
}

.package-card {
  border: 3px solid #ccc;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  width: 100px;

  text-align: center;
}

.package-card:hover {
  background-color: #f0f0f0;
}

.color-primary {
  color: #141B3D;
}


.bg-primary {
  background-color: #141B3D;
}

.package-text {
  font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-highlight {
  color: black;
}

.BGImage img {
  height: 100%;
  width: 100%;
}

.BGImage img:nth-child(2) {
  height: 50%;
  width: 50%;
  transition: all 0.2s linear;
}

.BGImage:hover img:nth-child(2) {
  transform: scale(1.6);
}

/* Custom styles for the modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: #FFF700;
  padding: 20px;
  border-radius: 8px;
  outline: none;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffD800;
}

.payment-logo {
  width: 50px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.payment-logo:hover {
  transform: scale(1.1);
}

.submit-button {
  transition: all 0.2s linear;
}

.clr-gold {
  filter: invert(62%) sepia(100%) saturate(298%) hue-rotate(2deg) brightness(160%) contrast(85%);
}

.clr-silver {
  filter: invert(71%) sepia(13%) saturate(125%) hue-rotate(169deg) brightness(300%) contrast(86%);
}


.submit-button:disabled {
  cursor: not-allowed;
}

.id-label {
  color: #FFD700;
}

.id-value {
  color: #FFD700;
}

/* Add these styles to your main CSS file or within a <style> tag in your index.html */
.btn-success,
.btn-fail {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.btn-success::before,
.btn-fail::before {
  content: '';
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  color: black;
  background: radial-gradient(circle, #ffd90053 0%, #fff70000 80%);
  /* background: radial-gradient( #ffd900af 0%, #FFF700 80%); */
  opacity: 1;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

.text-shadow {
  text-shadow:2px 2px 5px rgba(255, 140, 0, 0.6),  /* Soft orange glow */
  4px 4px 10px rgba(255, 140, 0, 0.4);
}



.loader-container {
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.connecting-text {
  text-align: center;
  margin-bottom: 20px;
}

.logo-square {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.clock-image {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(281deg) brightness(100%) contrast(107%);
}



.continue-button {
  transition: background 0.3s ease;
}

.box-loader {
  height: 80vh;
  width: 100%;
  position: fixed;
  top: 0vh;
  left: 0;
  background-color: #FFF700;
}

.parent-loader {
  perspective: 2000px;
  height: auto;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
.rel {
  position: relative;
}
.clock {
  height: 80px;
  width: 80px;
  position: absolute;
  top: -30px;
  left: -30px;
}
.clock img {
  height: 100%;
  width: 100%;
  filter: invert(98%) sepia(1%) saturate(308%) hue-rotate(317deg) brightness(119%) contrast(100%);
}
.visa-image {
  filter: invert(0%) sepia(0%) saturate(7485%) hue-rotate(7deg) brightness(97%) contrast(103%);
}
.loader {
  height: auto;
  width: 100%;
  animation: a1 3s linear infinite;

}

@keyframes a1 {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.loader1 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.globe {
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.glob1 {
  transform: rotateY(-180deg);
}

.tickImage {
  height: 100%;
  width: 100%;
}

.crossImage {
  height: 90%;
  width: 70%;
  animation: a2 1s linear infinite alternate;
}

@keyframes a2 {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}


/* ////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1024px) {
  .setting-main {
    width: 90%;
  }

}

@media (max-width: 981px) {
  .card {
    width: 30%;
  }

}

@media (max-width: 770px) {
  .card {
    width: 46%;
  }
}

@media (max-width: 529px) {
  .modal {
    width: 90%;
  }

  .search-inp {
    width: 70%;
  }

  .card {
    width: 90%;
  }

  .BGImage {
    height: auto;

  }
}